<!doctype html>
<html lang="en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport"
          content = "width = device-width, user-scalable = no, initial-scale = 1.0, maximum-scale = 1.0, minimum-scale = 1.0">
    <meta http-equiv = "X-UA-Compatible" content = "ie=edge">
    <title>{% block title %}Base{% endblock %}</title>
    <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type = "text/javascript" src = "//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <link rel ="stylesheet" href = "//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">

    <script>
        $(document).ready(function () {
            $('#user_table').DataTable();
            $('#tran_table').DataTable();
        });
    </script>

</head>
<body>
{% block navigation %}
    <nav>
        <ul class = "navigation">
            <li><a href = "{{ path('banking_homepage') }}">Index</a></li>
        </ul>
    </nav>
{% endblock %}

<h1>{% block h1 %}Base{% endblock %}</h1>

{% block body %}{% endblock %}

</body>
</html>